:root {
    --section-1-bg-color: #70a6df;
    --section-2-bg-color: #bbe68b;
    --section-3-bg-color: #93b071;
    --section-4-bg-color: #fac0f6;
    --main-color-border: #99BFB3;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.float-box1 {
    float: left;
    width: 100%;
    height: 125px;
    background-color: var(--section-1-bg-color)
}
.float-box2 {
    float: left;
    width: 75%;
    height: 50%;
    background-color: var(--section-2-bg-color)
}
.float-box3 {
    float: right;
    width: 25%;
    height: 50%;
    background-color: var(--section-3-bg-color)
}
.float-box4 {
    float: right;
    width: 100%;
    height: 200px;
    background-color: var(--section-4-bg-color)
}
.content {
    text-align: center;
}
.float-box1 .content {
    padding-top: 50px;
    margin-right: 20px;
}
.float-box2 .content, .float-box3 .content {
    margin-top: 250px;
}
.float-box4 .content {
    margin-top: 100px;
}